/* Стилизация кнопки */

.btn-group > *:not(:last-child) {
    margin-right: 20px;
}

.btn {
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    min-width: 189px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    padding: 15px 25px;
    line-height: 18px;
    transition: all .5s ease-out;
}

.btn--primary {
    background-color: #4263EB;
}

.btn--primary:hover {
	background-color: #2342C0;
}

.btn--primary:disabled {
	background-color: #4263EB;
	opacity: 0.5;
    border-radius: 8px;
    cursor: not-allowed;
}

.btn--secondary {
	background-color: #7048E8;
}

.btn--secondary:hover {
	background-color: #5028C6;
}

.btn--secondary:disabled {
	background: #7048E8;
	opacity: 0.5;
    border-radius: 8px;
    cursor: not-allowed;
}

.btn--alternative {
	background-color: transparent;
    border: 1px solid #ACB5BD;
    color: #495057;
}

.btn--alternative:hover {
    border-color: #212429;
}

.btn--alternative:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
