.modal {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.modal__content {
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    width: 50%;
    padding: 30px 40px;
    border-radius: 8px;
    background: #fff;
    box-sizing: border-box;
}

.modal__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 14px;
    color: #334d6e;
    margin: 0;
    margin-bottom: 14px;
}

.modal__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
}

.modal__close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 15px;
    cursor: pointer;
    color: #495057;
    transition: color 0.5s ease-in;
    box-sizing: border-box;
}

.modal__close:hover {
    color: #4263eb;
}
